In [1]:
import numpy as np
import matplotlib.pyplot as plt
import requests
import pandas as pd

In [2]:
url = "https://lazyprogrammer.me/course_files/SPY.csv"
response = requests.get(url)

if response.status_code == 200:
    with open("SPY.csv", "wb") as file: 
        file.write(response.content)

    print("dataset downloaded successfully")
else:
    print(f'Failed to open data set. Status code: {response.status_code}')

dataset downloaded successfully

In [3]:
dataframe = pd.read_csv('SPY.csv', index_col='Date', parse_dates=True)

In [4]:
dataframe.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800

In [5]:
from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error, r2_score, mean_squared_error

In [7]:
dataframe['ClosePrediction'] = dataframe['Close'].shift(1)
dataframe.head()

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [8]:
y_true = dataframe['Close']
y_pred = dataframe['ClosePrediction']

In [9]:
sse = np.sum((y_true - y_pred)**2)
print(sse)

6330.37428949261

In [11]:
#mse = mean_squared_error(y_true, y_pred)
#print(mse)
mse1 = sse/len(y_pred)
print(mse1)

2.797337290982152